@font-face {
  font-family: 'Baskerville';
  src: url("../fonts/Baskerville-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Baskerville-BoldItalic.woff") format("woff"), url("../fonts/Baskerville-BoldItalic.ttf") format("truetype"), url("../fonts/Baskerville-BoldItalic.svg#Baskerville-BoldItalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.otf") format("opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype"), url("../fonts/GothamPro-Bold.svg#GothamPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.otf") format("opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.svg#GothamPro") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamMedium';
  src: url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.otf") format("opentype"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium.svg#GothamPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Vibes';
  src: url("../fonts/GoodVibesPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GoodVibesPro.woff") format("woff"), url("../fonts/GoodVibesPro.ttf") format("truetype"), url("../fonts/GoodVibesPro.svg#GoodVibesPro") format("svg");
  font-weight: normal;
  font-style: normal; }
/*************************
GENERAL RULES
*************************/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Gotham';
  color: #333;
  font-size: 14px;
  background-color: white;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (max-width: 47.99em) {
    body {
      font-size: 12px; } }

a {
  color: inherit; }

a:hover {
  text-decoration: none;
  color: inherit; }

/* Typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

p {
  line-height: 1.7rem; }

b {
  font-weight: 700;
  font-style: bold; }

.ico {
  display: inline-block;
  content: ' '; }

/* Helpers */
.center {
  text-align: center; }

.clearfix, .clear {
  display: block;
  content: '';
  clear: both; }

.container {
  max-width: 1200px;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  @media (max-width: 74.99em) {
    .container {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (max-width: 61.99em) {
    .container {
      padding-left: 25px;
      padding-right: 25px; } }
  @media (max-width: 47.99em) {
    .container {
      padding-left: 15px;
      padding-right: 15px; } }

.hidden-inline-xs {
  display: inline-block; }
  @media (max-width: 47.99em) {
    .hidden-inline-xs {
      display: none; } }

.no-pad-r {
  padding-right: 0; }
  @media (max-width: 47.99em) {
    .no-pad-r {
      padding-right: 15px; } }

.no-pad-l {
  padding-left: 0; }
  @media (max-width: 47.99em) {
    .no-pad-l {
      padding-left: 15px; } }

@media (max-width: 61.99em) {
  .no-pad-l-md {
    padding-left: 15px; } }

.no-pad {
  padding-left: 0;
  padding-right: 0; }
  @media (max-width: 47.99em) {
    .no-pad {
      padding-left: 15px;
      padding-right: 15px; } }

.mb20 {
  margin-bottom: 20px; }

.mt20 {
  margin-top: 20px; }

.col-half {
  float: left;
  width: 50%; }
  .col-half:after {
    clear: both;
    display: block;
    content: " "; }
  @media (max-width: 47.99em) {
    .col-half {
      width: 100%;
      margin-bottom: 5px; } }

.header {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 25px; }

.header--floating {
  position: fixed;
  top: -60px;
  left: 0;
  width: 100%;
  background: #33353E;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white !important;
  z-index: 99;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
  height: 1px;
  visibility: hidden;
  overflow: hidden; }
  .header--floating.active {
    height: 60px;
    visibility: visible;
    top: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .header--floating .header--floating__logo {
    max-width: 180px; }
  .header--floating .header-menu {
    font-family: "Gotham";
    padding-top: 10px;
    margin-left: 0;
    padding-right: 0; }
    @media (max-width: 61.99em) {
      .header--floating .header-menu li span {
        display: none; } }
  .header--floating .header__phone {
    display: inline-block;
    font-size: 20px;
    margin-top: 7px; }
    @media (max-width: 74.99em) {
      .header--floating .header__phone {
        display: block;
        margin-top: -5px; } }
    @media (max-width: 54.365em) {
      .header--floating .header__phone {
        font-size: 17px; } }
  .header--floating .header__callback {
    display: inline-block;
    font-size: 14px;
    opacity: 0.7;
    margin-right: 10px;
    vertical-align: 4px;
    line-height: 1em;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .header--floating .header__callback:hover {
      opacity: 1; }
    @media (max-width: 74.99em) {
      .header--floating .header__callback {
        margin-right: 0;
        margin-top: -5px; } }

.footer {
  background: #33353E;
  color: white;
  padding-top: 43px;
  padding-bottom: 20px;
  border-top: 1px solid #DFE1DF; }
  @media (max-width: 47.99em) {
    .footer {
      padding-top: 30px;
      text-align: center; } }
  @media (max-width: 47.99em) {
    .footer img {
      display: inline-block; } }

.hero {
  background: url("../images/hero-bg.png") no-repeat center;
  height: 100vh;
  min-height: 700px;
  max-height: 800px;
  color: white;
  padding-top: 100px;
  background-size: cover; }
  @media (max-width: 61.99em) {
    .hero {
      max-height: auto;
      min-width: auto;
      height: auto; } }
  @media (max-width: 47.99em) {
    .hero {
      padding-top: 80px;
      overflow: hidden; } }

.benefits {
  padding-top: 75px;
  padding-bottom: 80px; }
  @media (max-width: 47.99em) {
    .benefits {
      padding-top: 50px;
      padding-bottom: 50px; } }

.goods {
  background: #DFE1DF;
  padding-top: 55px;
  padding-bottom: 40px; }
  @media (max-width: 47.99em) {
    .goods {
      padding-top: 35px;
      padding-bottom: 30px; } }

.heading {
  font-size: 38px;
  line-height: 1.4em;
  font-family: "Vibes";
  position: relative;
  margin-top: 27px; }
  .heading:after {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 1px;
    display: block;
    background: #333;
    content: " ";
    z-index: 0; }
    @media (max-width: 47.99em) {
      .heading:after {
        width: 50% !important;
        height: 3px !important;
        left: 50%;
        -webkit-transform: translateY(1px) !important;
        -moz-transform: translateY(1px) !important;
        -ms-transform: translateY(1px) !important;
        -o-transform: translateY(1px) !important;
        transform: translateY(1px) !important;
        -webkit-transform: translateX(-50%) !important;
        -moz-transform: translateX(-50%) !important;
        -ms-transform: translateX(-50%) !important;
        -o-transform: translateX(-50%) !important;
        transform: translateX(-50%) !important;
        top: 25px; } }
  .heading:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    background: url("../img/heading-parker.png") no-repeat center;
    height: 50px;
    width: 130px;
    display: block;
    content: " ";
    z-index: 1; }
    @media (max-width: 47.99em) {
      .heading:before {
        display: none !important; } }
  .heading span {
    display: inline-block;
    background: #DFE1DF;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    left: 50%;
    top: -23px;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }

.heading--white-bg span {
  background: white; }

.heading--dark-bg {
  color: white; }
  .heading--dark-bg:after {
    background: white; }
  .heading--dark-bg span {
    background: #33353E; }

.heading--pen-left:before {
  right: auto;
  left: 0;
  background: url("../img/heading-parker-left.png") no-repeat center; }

.video {
  padding-top: 70px;
  padding-bottom: 100px;
  background: url("../img/video-bg.png") no-repeat center;
  background-size: 100%; }
  @media (max-width: 47.99em) {
    .video {
      padding-top: 40px;
      padding-bottom: 50px; } }

.steps {
  padding-top: 45px;
  padding-bottom: 85px; }
  @media (max-width: 47.99em) {
    .steps {
      padding-top: 30px;
      padding-bottom: 50px; } }

.gallery {
  background: #DFE1DF;
  padding-top: 55px;
  padding-bottom: 90px; }
  @media (max-width: 47.99em) {
    .gallery {
      padding-top: 35px;
      padding-bottom: 70px; } }

.testimonials {
  background: #33353E;
  padding-top: 55px;
  padding-bottom: 90px; }
  @media (max-width: 47.99em) {
    .testimonials {
      padding-top: 35px;
      padding-bottom: 70px; } }

.form {
  color: white;
  padding-top: 70px;
  padding-bottom: 50px;
  background: #000207 url("../img/form-bg.png") no-repeat right center;
  position: relative; }
  @media (max-width: 47.99em) {
    .form {
      padding-top: 35px;
      padding-bottom: 30px;
      background: #000207; } }

.header-mobile {
  padding-top: 10px;
  padding-bottom: 5px;
  background: #33353E;
  color: white;
  height: 30px;
  position: fixed;
  height: 50px;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }

.header-mobile__logo {
  max-width: 100px;
  display: inline-block;
  margin-left: 45px;
  vertical-align: -3px; }

.header-mobile__phone {
  font-size: 14px;
  display: inline-block;
  font-family: 'GothamMedium';
  margin-top: 5px; }

.hamburger {
  margin-top: 0px;
  padding: 0px 0px;
  outline: none;
  border: none;
  box-shadow: none;
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 4px; }

.burger-sm {
  margin-top: 0px;
  padding: 0;
  vertical-align: 4px; }

.hamburger.is-active {
  position: absolute;
  top: 18px;
  left: 15px;
  z-index: 199; }

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 30px;
  height: auto; }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  background-color: white;
  border-radius: 3px;
  height: 3px;
  width: 30px; }

.hamburger--collapse .hamburger-inner:after {
  top: 7px; }

.hamburger--collapse .hamburger-inner:before {
  top: -7px; }

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.burger-sm .hamburger-inner, .burger-sm .hamburger-inner:after, .burger-sm .hamburger-inner:before {
  background: #0ec3c6;
  border-radius: 3px;
  width: 20px; }

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 53, 62, 0.8);
  z-index: 99;
  padding: 14vh 20px;
  text-align: center;
  color: white;
  font-size: 18px; }
  .mobile-nav .main-navi li {
    display: block;
    font-size: 17px;
    font-family: 'GothamMedium';
    margin-bottom: 3vh; }
    .mobile-nav .main-navi li a {
      border-bottom: 1px solid #A78A4D;
      display: inline-block; }
    .mobile-nav .main-navi li:hover a {
      color: rgba(255, 255, 255, 0.75);
      border-bottom: 1px solid white;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      transition: all 0.4s ease; }
  .mobile-nav .mobile-nav-contact {
    color: white !important;
    background: rgba(51, 53, 62, 0.9);
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 4vh 0;
    font-size: 28px;
    line-height: 1em; }
    .mobile-nav .mobile-nav-contact .header-adress {
      color: white;
      border-color: white;
      display: inline-block;
      font-size: 14px;
      font-family: 'GothamMedium'; }

.header .img-responsive {
  display: inline-block; }

.header-menu {
  list-style: none;
  font-family: "GothamMedium";
  text-align: justify;
  display: block;
  font-size: 0;
  padding-top: 15px;
  margin-left: -45px;
  padding-right: 45px; }
  @media (max-width: 74.99em) {
    .header-menu {
      margin-left: -30px;
      padding-right: 30px; } }
  @media (max-width: 68.74em) {
    .header-menu {
      margin-left: -30px;
      padding-right: 0px; } }
  @media (max-width: 59.365em) {
    .header-menu {
      margin-left: -20px; } }
  .header-menu li {
    display: inline-block;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px; }
    @media (max-width: 68.74em) {
      .header-menu li {
        font-size: 14px; } }
    .header-menu li:hover {
      color: #A78A4D;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    @media (max-width: 59.365em) {
      .header-menu li span {
        display: none; } }
  .header-menu:after {
    display: inline-block;
    height: 1px;
    width: 100%;
    content: " "; }

.ico-header-phone {
  background: #DFE1DF url("../img/ico-header-phone.svg") no-repeat center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  float: left; }
  @media (max-width: 68.74em) {
    .ico-header-phone {
      display: none; } }

.header__phone {
  font-family: "GothamMedium";
  font-size: 22px;
  display: block; }
  @media (max-width: 74.99em) {
    .header__phone {
      font-size: 20px; } }
  @media (max-width: 52.49em) {
    .header__phone {
      font-size: 18px; } }

.header__callback {
  font-size: 15px;
  border-bottom: 1px dashed white; }
  @media (max-width: 74.99em) {
    .header__callback {
      font-size: 14px; } }
  @media (max-width: 52.49em) {
    .header__callback {
      font-size: 13px; } }

.hero__description {
  padding-top: 100px; }
  @media (max-width: 61.99em) {
    .hero__description {
      padding-top: 80px; } }
  .hero__description img {
    margin: 0 auto; }
    @media (max-width: 61.99em) {
      .hero__description img {
        max-width: 150px;
        display: inline-block; } }
    @media (max-width: 47.99em) {
      .hero__description img {
        max-width: 120px; } }
  @media (max-width: 47.99em) {
    .hero__description {
      padding-top: 0px; } }

.hero__heading {
  font-size: 56px;
  font-family: "Vibes";
  line-height: 60px;
  margin-top: 35px;
  -webkit-text-shadow: 0 1px 0 #A78A4D;
  -moz-text-shadow: 0 1px 0 #A78A4D;
  text-shadow: 0 1px 0 #A78A4D; }
  @media (max-width: 61.99em) {
    .hero__heading {
      font-size: 46px;
      line-height: 52px; } }
  @media (max-width: 47.99em) {
    .hero__heading {
      font-size: 38px;
      line-height: 44px; } }

.hero__cta {
  margin-top: 35px; }

.hero__cta__price {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 16px 45px;
  font-size: 22px;
  line-height: 1em;
  font-family: "Baskerville";
  font-weight: 600;
  font-style: italic;
  margin-right: 10px;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  transform: skew(-15deg); }
  .hero__cta__price span {
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -ms-transform: skew(15deg);
    -o-transform: skew(15deg);
    transform: skew(15deg);
    display: inline-block; }
  @media (max-width: 61.99em) {
    .hero__cta__price {
      padding: 15px 35px; } }
  @media (max-width: 50.615em) {
    .hero__cta__price {
      padding: 15px 25px; } }
  @media (max-width: 47.99em) {
    .hero__cta__price {
      font-size: 18px; } }

.btn--hero {
  display: inline-block;
  background: #A78A4D;
  border-radius: 6px;
  padding: 18px 45px 17px 45px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1em;
  font-family: "GothamMedium";
  vertical-align: 3px;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  transform: skew(-15deg);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .btn--hero span {
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -ms-transform: skew(15deg);
    -o-transform: skew(15deg);
    transform: skew(15deg);
    display: inline-block; }
  .btn--hero:hover {
    color: white;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    opacity: 0.8; }
  @media (max-width: 61.99em) {
    .btn--hero {
      padding: 17px 35px 16px 35px; } }
  @media (max-width: 50.615em) {
    .btn--hero {
      padding: 17px 25px 16px 25px; } }
  @media (max-width: 47.99em) {
    .btn--hero {
      font-size: 14px;
      vertical-align: 0; } }

.hero__image {
  text-align: center;
  padding-top: 60px; }
  @media (max-width: 47.99em) {
    .hero__image {
      text-align: center; }
      .hero__image img {
        display: inline-block; } }

.helper-pulse {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
  @media (max-width: 61.99em) {
    .helper-pulse {
      display: none; } }

.pulse {
  display: inline-block;
  border: 20px solid white;
  background: transparent;
  border-radius: 60px;
  height: 70px;
  width: 70px;
  position: absolute;
  top: -13px;
  left: -13px;
  z-index: -1;
  opacity: 0;
  -webkit-animation: pulse 4s ease-out;
  -moz-animation: pulse 4s ease-out;
  animation: pulse 4s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.ico-hero-down {
  background: #33353E url("../img/ico-hero-down.svg") no-repeat center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #5A5B60;
  z-index: 10;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .ico-hero-down:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

.benefits__benefit {
  position: relative; }
  @media (max-width: 47.99em) {
    .benefits__benefit {
      margin-bottom: 20px; } }
  @media (max-width: 61.99em) {
    .benefits__benefit .ico {
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
      transform: scale(0.9); } }
  @media (max-width: 47.99em) {
    .benefits__benefit .ico {
      -webkit-transform: scale(0.7);
      -moz-transform: scale(0.7);
      -ms-transform: scale(0.7);
      -o-transform: scale(0.7);
      transform: scale(0.7);
      margin-top: -10px;
      margin-bottom: -20px; } }

.benefits__benefit:after {
  display: block;
  content: " ";
  width: 1px;
  height: 35px;
  position: absolute;
  right: 0px;
  top: 23px;
  background: #333; }
  @media (max-width: 61.99em) {
    .benefits__benefit:after {
      display: none; } }

.benefits__benefit__name {
  font-size: 16px;
  line-height: 19px;
  margin-top: 17px;
  font-family: "GothamMedium"; }
  @media (max-width: 74.99em) {
    .benefits__benefit__name {
      font-size: 15px; } }
  @media (max-width: 61.99em) {
    .benefits__benefit__name {
      word-wrap: break-word;
      font-size: 13px; } }

.ico-benefit-1 {
  background: url("../img/ico-benefit-1.svg") no-repeat center;
  width: 100px;
  height: 81px; }

.ico-benefit-2 {
  background: url("../img/ico-benefit-2.svg") no-repeat center;
  width: 100px;
  height: 81px; }

.ico-benefit-3 {
  background: url("../img/ico-benefit-3.svg") no-repeat center;
  width: 100px;
  height: 81px; }

.ico-benefit-4 {
  background: url("../img/ico-benefit-4.svg") no-repeat center;
  width: 100px;
  height: 81px; }

.ico-benefit-5 {
  background: url("../img/ico-benefit-5.svg") no-repeat center;
  width: 100px;
  height: 81px; }

.ico-benefit-6 {
  background: url("../img/ico-benefit-6.svg") no-repeat center;
  width: 100px;
  height: 81px; }

.goods__tabs {
  margin-top: 65px;
  background: #33353E;
  border: 1px solid #A78A4D;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  margin-bottom: -1px;
  border-bottom: 0; }
  .goods__tabs ul {
    list-style: none;
    display: inline-block;
    margin-bottom: 0;
    font-size: 0; }
    @media (max-width: 47.99em) {
      .goods__tabs ul {
        display: block; } }
    .goods__tabs ul li {
      display: inline-block;
      text-align: center;
      border-right: 1px solid #A78A4D;
      padding: 10px 30px 8px 30px;
      font-size: 16px;
      font-family: "GothamMedium";
      cursor: pointer;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      @media (max-width: 47.99em) {
        .goods__tabs ul li {
          display: block;
          padding: 16px 20px 7px 70px;
          vertical-align: 5px;
          position: relative;
          text-align: left; } }
      .goods__tabs ul li:hover {
        background: #434652; }
      .goods__tabs ul li .ico {
        display: block;
        margin: 0 auto 6px auto; }
        @media (max-width: 47.99em) {
          .goods__tabs ul li .ico {
            display: inline-block;
            position: absolute;
            top: 8px;
            left: 20px;
            -webkit-transform: scale(0.7);
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            -o-transform: scale(0.7);
            transform: scale(0.7); } }
      .goods__tabs ul li.active {
        background: white;
        color: #333; }
        .goods__tabs ul li.active .ico-tabs-pen-1 {
          background-image: url("../img/ico-pen-1-a.svg"); }
        .goods__tabs ul li.active .ico-tabs-pen-2 {
          background-image: url("../img/ico-pen-2-a.svg"); }
        .goods__tabs ul li.active .ico-tabs-pen-3 {
          background-image: url("../img/ico-pen-3-a.svg"); }

.ico-tabs-pen-1 {
  background: url("../img/ico-pen-1.svg") no-repeat center;
  width: 33px;
  height: 33px; }

.ico-tabs-pen-2 {
  background: url("../img/ico-pen-2.svg") no-repeat center;
  width: 33px;
  height: 33px; }

.ico-tabs-pen-3 {
  background: url("../img/ico-pen-3.svg") no-repeat center;
  width: 33px;
  height: 33px; }

.goods__tabs__desc {
  display: inline-block;
  float: right;
  font-family: "Gotham";
  font-size: 16px;
  line-height: 19px;
  max-width: 50%;
  text-align: right;
  padding-top: 20px;
  padding-right: 30px; }
  .goods__tabs__desc:after {
    clear: both;
    display: inline-block;
    content: " "; }
  @media (max-width: 74.99em) {
    .goods__tabs__desc {
      font-size: 14px;
      line-height: 17px; } }
  @media (max-width: 68.74em) {
    .goods__tabs__desc {
      max-width: 35%;
      padding-top: 8px; } }
  @media (max-width: 61.99em) {
    .goods__tabs__desc {
      font-size: 12px;
      line-height: 14px;
      padding-top: 15px; } }
  @media (max-width: 52.49em) {
    .goods__tabs__desc {
      display: none; } }

.goods__content {
  background: white;
  border: 1px solid #A78A4D;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  display: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .goods__content.active {
    display: block; }

.goods__content__mainpic {
  padding-top: 20px; }
  @media (max-width: 47.99em) {
    .goods__content__mainpic {
      max-width: 50%;
      margin: 0 auto; } }

.goods__content__description {
  padding-top: 285px; }
  @media (max-width: 61.99em) {
    .goods__content__description {
      padding-top: 210px; } }
  @media (max-width: 47.99em) {
    .goods__content__description {
      padding-top: 30px;
      padding-left: 30px;
      padding-right: 30px; } }

.goods__content__name {
  font-size: 24px;
  font-family: "GothamMedium";
  margin-bottom: 6px; }
  @media (max-width: 61.99em) {
    .goods__content__name {
      font-size: 20px; } }
  @media (max-width: 47.99em) {
    .goods__content__name {
      font-size: 18px; } }

.goods__content__attributes {
  font-size: 15px;
  font-family: "Gotham";
  opacity: 0.65;
  margin-bottom: 15px; }
  @media (max-width: 61.99em) {
    .goods__content__attributes {
      font-size: 13px;
      margin-bottom: 10px; } }
  @media (max-width: 47.99em) {
    .goods__content__attributes {
      font-size: 12px;
      margin-bottom: 7px; } }

.goods__content__price {
  font-size: 22px;
  font-family: "GothamMedium";
  margin-bottom: 15px; }
  @media (max-width: 61.99em) {
    .goods__content__price {
      font-size: 20px; } }
  @media (max-width: 47.99em) {
    .goods__content__price {
      font-size: 18px; } }
  .goods__content__price span {
    display: inline-block;
    font-size: 14px;
    color: #A78A4D;
    font-family: "Gotham";
    margin-left: 10px;
    vertical-align: middle; }
    @media (max-width: 47.99em) {
      .goods__content__price span {
        font-size: 12px; } }

.btn--goods-cta {
  border: none;
  background: #A78A4D;
  color: white;
  font-size: 16px;
  font-family: "Gotham";
  text-transform: uppercase;
  padding: 9px 45px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 0 #846d3d;
  -moz-box-shadow: 0 2px 0 #846d3d;
  box-shadow: 0 2px 0 #846d3d;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .btn--goods-cta span {
    vertical-align: -5px; }
  .btn--goods-cta:hover {
    color: white;
    background: #967c45; }
  .btn--goods-cta:visited {
    color: white;
    outline: none;
    -webkit-box-shadow: 0 0px 0 #846d3d;
    -moz-box-shadow: 0 0px 0 #846d3d;
    box-shadow: 0 0px 0 #846d3d; }
  @media (max-width: 61.99em) {
    .btn--goods-cta {
      padding: 8px 30px;
      font-size: 14px; } }
  @media (max-width: 47.99em) {
    .btn--goods-cta {
      margin-top: 15px;
      font-size: 14px;
      padding: 7px 30px; } }

.goods__content__models {
  background: #33353E;
  color: white;
  text-align: center;
  padding-bottom: 30px;
  margin-left: 40px; }
  @media (max-width: 47.99em) {
    .goods__content__models {
      margin-left: 0;
      margin-top: 30px; } }

.goods__content__models__heading {
  font-size: 16px;
  color: white;
  padding-top: 25px;
  padding-bottom: 20px; }

.goods__content__models__img-wrap {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 35px;
  background: white;
  border: 4px solid transparent; }
  .goods__content__models__img-wrap:last-child {
    margin-bottom: 0; }
  .goods__content__models__img-wrap.active {
    border: 4px solid #A78A4D; }
  .goods__content__models__img-wrap img {
    display: inline-block; }
  @media (max-width: 47.99em) {
    .goods__content__models__img-wrap {
      max-width: 40%;
      margin-left: 3%;
      margin-right: 3%;
      display: inline-block; } }

.goods__text {
  padding-top: 45px;
  text-align: center; }
  @media (max-width: 47.99em) {
    .goods__text {
      padding-top: 25px; } }

.goods__text__collection {
  font-size: 22px;
  font-family: "Baskerville";
  letter-spacing: -0.1em;
  line-height: 1.2em; }
  @media (max-width: 61.99em) {
    .goods__text__collection {
      font-size: 20px; } }
  @media (max-width: 47.99em) {
    .goods__text__collection {
      font-size: 16px; } }

.goods__text__catalog {
  font-size: 16px;
  font-family: "GothamMedium";
  padding-top: 35px; }
  .goods__text__catalog span {
    display: block;
    margin-bottom: 15px; }
  @media (max-width: 61.99em) {
    .goods__text__catalog {
      font-size: 14px; } }
  @media (max-width: 47.99em) {
    .goods__text__catalog {
      font-size: 13px; } }

.btn--go-catalog {
  background: #33353E;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 13px 25px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .btn--go-catalog:hover {
    color: white; }
  @media (max-width: 47.99em) {
    .btn--go-catalog {
      font-size: 13px;
      padding: 10px 20px; } }

.video__macbook {
  background: url("../img/macbook.svg") no-repeat top center;
  background-size: 100%;
  min-height: 428px;
  position: relative; }
  @media (max-width: 47.99em) {
    .video__macbook {
      background: none;
      min-height: 200px;
      padding-top: 30px;
      padding-bottom: 30px; } }
  .video__macbook .video__frame {
    position: absolute;
    left: 13.8%;
    right: 13.8%;
    top: 6.5%; }
    @media (max-width: 74.99em) {
      .video__macbook .video__frame {
        top: 5%; } }
    @media (max-width: 61.99em) {
      .video__macbook .video__frame {
        top: 4%; } }
    .video__macbook .video__frame iframe {
      max-height: 353px;
      min-height: 220px;
      height: 353px; }
      @media (max-width: 74.99em) {
        .video__macbook .video__frame iframe {
          min-height: 270px;
          height: auto; } }
      @media (max-width: 74.99em) {
        .video__macbook .video__frame iframe {
          min-height: 230px;
          height: auto; } }

.video__play {
  background: url("../img/play-button.svg") no-repeat center;
  width: 154px;
  height: 154px;
  content: " ";
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 9;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  @media (max-width: 61.99em) {
    .video__play {
      -webkit-transform: translateX(-50%) scale(0.6);
      -moz-transform: translateX(-50%) scale(0.6);
      -ms-transform: translateX(-50%) scale(0.6);
      -o-transform: translateX(-50%) scale(0.6);
      transform: translateX(-50%) scale(0.6);
      top: 13%; } }
  .video__play:hover {
    opacity: 0.7; }

.video__desc {
  font-size: 22px;
  font-family: "GothamMedium";
  line-height: 32px;
  margin-top: 150px; }
  @media (max-width: 61.99em) {
    .video__desc {
      font-size: 18px;
      line-height: 23px; } }
  @media (max-width: 47.99em) {
    .video__desc {
      display: none; } }

.steps__step {
  margin-top: 100px;
  position: relative; }
  @media (max-width: 47.99em) {
    .steps__step {
      margin-top: 40px;
      margin-bottom: -40px; } }
  .steps__step.last:after {
    display: none; }
  .steps__step:after {
    display: block;
    content: " ";
    background: url("../img/step-next.svg") no-repeat center;
    width: 61px;
    height: 61px;
    position: absolute;
    right: -45px;
    top: 35px; }
    @media (max-width: 47.99em) {
      .steps__step:after {
        display: none; } }

.steps__step__icon {
  background: #33353E;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: relative;
  display: inline-block; }
  @media (max-width: 74.99em) {
    .steps__step__icon {
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
      transform: scale(0.9); } }
  @media (max-width: 47.99em) {
    .steps__step__icon {
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
      -o-transform: scale(0.6);
      transform: scale(0.6);
      margin-bottom: -30px;
      margin-top: 10px; } }
  .steps__step__icon .ico {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px; }

.ico-step-1 {
  background: url("../img/ico-step-1.svg") no-repeat 60% center; }

.ico-step-2 {
  background: url("../img/ico-step-2.svg") no-repeat center; }

.ico-step-3 {
  background: url("../img/ico-step-3.svg") no-repeat center; }

.ico-step-4 {
  background: url("../img/ico-step-4.svg") no-repeat center; }

.steps__step__icon__num {
  display: inline-block;
  background: #A78A4D;
  padding-top: 10px;
  height: 40px;
  width: 40px;
  color: white;
  font-size: 24px;
  line-height: 1em;
  font-family: "GothamBold";
  position: absolute;
  top: -5px;
  right: 0px;
  border-radius: 50%; }

.steps__step__name {
  text-align: center;
  font-size: 24px;
  font-family: "GothamMedium";
  margin-top: 10px; }
  @media (max-width: 74.99em) {
    .steps__step__name {
      font-size: 22px;
      line-height: 1.1em; } }
  @media (max-width: 61.99em) {
    .steps__step__name {
      font-size: 19px; } }
  @media (max-width: 47.99em) {
    .steps__step__name {
      font-size: 17px; } }

.steps__step__desc {
  font-size: 16px;
  margin-top: 10px; }
  @media (max-width: 74.99em) {
    .steps__step__desc {
      font-size: 15px;
      margin-top: 0; } }
  @media (max-width: 61.99em) {
    .steps__step__desc {
      font-size: 13px; } }
  @media (max-width: 47.99em) {
    .steps__step__desc {
      margin-top: 3px;
      font-size: 12px; } }

#owl-gallery {
  margin-top: 50px; }
  @media (max-width: 47.99em) {
    #owl-gallery {
      margin-top: 80px; } }

.owl-prev {
  display: block;
  content: " ";
  position: absolute;
  top: 50%;
  left: -80px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../img/slider-arrow.svg") no-repeat center;
  width: 50px;
  height: 115px;
  font-size: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .owl-prev:hover {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg); }
  @media (max-width: 47.99em) {
    .owl-prev {
      display: none; } }

.owl-next {
  display: block;
  content: " ";
  position: absolute;
  top: 50%;
  right: -80px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../img/slider-arrow-right.svg") no-repeat center;
  width: 50px;
  height: 115px;
  font-size: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .owl-next:hover {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg); }
  @media (max-width: 47.99em) {
    .owl-next {
      display: none; } }

.owl-dots {
  position: absolute;
  bottom: -45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
  .owl-dots .owl-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #333;
    opacity: 0.5;
    background: transparent;
    margin-left: 7px;
    margin-right: 7px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
    .owl-dots .owl-dot.active {
      border: 3px solid #A78A4D;
      opacity: 1;
      background: white; }
      @media (max-width: 47.99em) {
        .owl-dots .owl-dot.active {
          border: 2px solid #A78A4D; } }
    .owl-dots .owl-dot:hover {
      opacity: 1; }
    @media (max-width: 47.99em) {
      .owl-dots .owl-dot {
        width: 10px;
        height: 10px;
        border: 2px solid #333;
        margin-right: 4px;
        margin-left: 4px; } }

.gallery_item {
  border-radius: 15px;
  width: 100%;
  cursor: pointer; }
  .gallery_item img {
    width: 100%; }
    @media (max-width: 61.99em) {
      .gallery_item img {
        max-height: auto; } }
  @media (max-width: 47.99em) {
    .gallery_item {
      margin: 0 auto; } }
  .gallery_item:after {
    position: absolute;
    border-radius: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: " ";
    background: rgba(51, 53, 62, 0.5) url("../img/zoom.svg") no-repeat 90% 90%;
    visibility: hidden;
    z-index: 9; }
  .gallery_item:hover:after {
    visibility: visible; }

.mfp-bottom-bar {
  display: none !important; }

#owl-testimonials {
  margin-top: 50px; }
  #owl-testimonials .owl-prev {
    background-image: url("../img/slider-arrow-dark.svg"); }
    @media (max-width: 47.99em) {
      #owl-testimonials .owl-prev {
        display: none; } }
  #owl-testimonials .owl-next {
    background-image: url("../img/slider-arrow-dark-right.svg"); }
    @media (max-width: 47.99em) {
      #owl-testimonials .owl-next {
        display: none; } }
  #owl-testimonials .owl-dot {
    border: 3px solid white; }
    @media (max-width: 47.99em) {
      #owl-testimonials .owl-dot {
        border: 2px solid white; } }
    #owl-testimonials .owl-dot.active {
      border: 3px solid #A78A4D; }
      @media (max-width: 47.99em) {
        #owl-testimonials .owl-dot.active {
          border: 2px solid #A78A4D; } }

.testimonial__item {
  width: 100%; }
  .testimonial__item img {
    max-width: 100%; }
  @media (max-width: 47.99em) {
    .testimonial__item {
      margin: 0 auto; } }
  .testimonial__item:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: " ";
    background: rgba(51, 53, 62, 0.5) url("../img/zoom.svg") no-repeat 90% 90%;
    visibility: hidden;
    z-index: 9; }
  .testimonial__item:hover:after {
    visibility: visible; }

.form__heading {
  font-size: 28px;
  line-height: 34px;
  font-family: "GothamMedium"; }
  @media (max-width: 47.99em) {
    .form__heading {
      font-size: 20px;
      line-height: 25px; } }

.form__heading__tag {
  font-size: 16px;
  font-family: "GothamMedium";
  display: inline-block;
  background: #33353E;
  border-radius: 5px;
  padding: 8px 20px;
  margin-top: 10px; }
  @media (max-width: 47.99em) {
    .form__heading__tag {
      font-size: 13px;
      padding: 6px 15px; } }

.form__container {
  margin-top: 30px; }

.form__container__input {
  position: relative;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -moz-placeholder-color: #DFE1DF;
  -ms-input-placeholder-color: #DFE1DF; }
  .form__container__input:after {
    width: 1px;
    height: 2px;
    background: #A78A4D;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 10; }
  .form__container__input:valid:after, .form__container__input:hover:after {
    width: 100%; }
  .form__container__input label {
    position: absolute;
    top: 8px;
    left: 15px;
    font-size: 16px;
    color: #DFE1DF;
    font-weight: 400;
    font-family: "Gotham";
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out; }
  .form__container__input input, .form__container__input textarea {
    display: block;
    background: transparent;
    outline: none;
    border: 1px solid transparent;
    border-bottom: 2px solid #DFE1DF;
    color: #DFE1DF;
    font-size: 16px;
    height: 40px;
    padding: 10px 15px;
    width: 100%;
    line-height: 1em;
    margin-bottom: 25px;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .form__container__input input:valid, .form__container__input input:focus, .form__container__input textarea:valid, .form__container__input textarea:focus {
      outline: 0;
      padding: 10px 15px;
      border-bottom: 2px solid #DFE1DF;
      border: 1px solid #DFE1DF;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .form__container__input input:valid + label, .form__container__input input:focus + label, .form__container__input textarea:valid + label, .form__container__input textarea:focus + label {
      font-size: 14px;
      transform: translate3d(0, -20px, 0);
      display: inline-block;
      background: #000207;
      padding-left: 5px;
      padding-right: 5px; }
  .form__container__input textarea {
    height: auto; }
  .form__container__input ::-webkit-input-placeholder {
    color: #DFE1DF; }
  .form__container__input ::-moz-placeholder {
    color: #DFE1DF; }

.form__container__submit .btn--goods-cta {
  margin-top: 25px; }

.form__container__promo-counter {
  float: right;
  text-align: center; }

.form__container__promo-counter__desc {
  color: #DFE1DF;
  font-size: 12px;
  display: block; }

.form__container__promo-counter__number {
  color: #A78A4D;
  font-size: 42px;
  text-align: center;
  position: relative;
  margin-right: 5px;
  display: inline-block;
  width: 35px;
  height: 51px;
  line-height: 1em; }
  .form__container__promo-counter__number span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    z-index: 2; }
  .form__container__promo-counter__number:after {
    display: inline-block;
    content: " ";
    background: url("../img/form-promo-num.svg") no-repeat center;
    width: 35px;
    height: 51px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }

.footer__copywrite {
  font-size: 12px;
  line-height: 15px;
  opacity: 0.7;
  margin-top: 20px; }

.footer__phone {
  font-size: 36px;
  font-family: "GothamMedium";
  line-height: 1em; }
  @media (max-width: 47.99em) {
    .footer__phone {
      margin-top: 20px;
      font-size: 24px; } }

.footer__phone-helper {
  font-size: 16px;
  opacity: 0.7; }
  @media (max-width: 47.99em) {
    .footer__phone-helper {
      font-size: 13px; } }

.footer__socials {
  margin-top: 25px; }

.footer__socials__ico {
  display: inline-block;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .footer__socials__ico .ico {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40px;
    height: 40px; }
  .footer__socials__ico:hover {
    background: white; }

.ico-instagram {
  background: url("../img/ico-instagram.svg") no-repeat center; }

.ico-vk {
  background: url("../img/ico-vk.svg") no-repeat center; }

.ico-ok {
  background: url("../img/ico-ok.png") no-repeat center; }

.footer__payments {
  margin-top: 7px; }
  .footer__payments img {
    display: inline-block; }

.back-to-top {
  height: 50px;
  width: 50px;
  border-radius: 4px;
  background: #33353E;
  position: fixed;
  bottom: 30px;
  left: 20px;
  opacity: 0.5;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }
  .back-to-top:hover {
    opacity: 1;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); }
  @media (max-width: 47.99em) {
    .back-to-top {
      -webkit-transform: scale(0.7);
      -moz-transform: scale(0.7);
      -ms-transform: scale(0.7);
      -o-transform: scale(0.7);
      transform: scale(0.7); } }

.back-to-top__wrap {
  position: relative;
  width: 100%;
  height: 100%; }

.ico-top {
  background: url("../img/backtop.svg") no-repeat center;
  width: 28px;
  height: 35px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#contact-form {
  background: #000207 url("../img/form-popup-bg.png") no-repeat right center;
  border: 4px solid #DFE1DF;
  border-radius: 20px;
  padding: 60px 40px;
  text-align: left;
  color: white;
  height: 100%;
  max-width: 770px;
  margin: 40px auto;
  position: relative; }
  @media (max-width: 61.99em) {
    #contact-form {
      margin-left: 50px;
      margin-right: 50px; } }
  #contact-form .mfp-close {
    font-size: 0;
    position: absolute;
    top: -55px;
    right: -55px;
    background: url("../img/popup-close.svg") no-repeat center;
    width: 48px;
    height: 48px; }
  #contact-form .form__container {
    width: 60%; }
    @media (max-width: 47.99em) {
      #contact-form .form__container {
        width: 100%; } }

.popup__heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  font-family: "GothamMedium"; }

#popup-email-contact--togle {
  font-size: 14px;
  opacity: 0.7;
  border-bottom: 1px dashed white;
  margin-top: 30px;
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  #popup-email-contact--togle:hover {
    opacity: 1; }
  @media (max-width: 47.99em) {
    #popup-email-contact--togle {
      font-size: 12px;
      margin-top: 20px; } }

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0; }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1; }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3; }
  75% {
    -moz-transform: scale(0.7);
    opacity: 0.8; }
  100% {
    -moz-transform: scale(1);
    opacity: 0.0; } }
@-webkit-keyframes "pulse" {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0; }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1; }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3; }
  75% {
    -webkit-transform: scale(0.7);
    opacity: 0.8; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0; } }
/**
 * Fade-zoom animation for first dialog
 */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0; }

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

/**
 * Fade-move animation for second dialog
 */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -o-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  transform: translateY(-20px) perspective(600px) rotateX(10deg); }

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  -ms-transform: translateY(0) perspective(600px) rotateX(0);
  -o-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0); }

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -o-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  transform: translateY(-10px) perspective(600px) rotateX(10deg); }

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0; }

/*# sourceMappingURL=style.css.map */
